.container {
  display: flex;
  align-items: center;
 



 

  &__btnLink {
    color: $white;
    background-color: $yellow;
    padding: 14px 39px;
    @include typography();
  }

  &__button {
    display: none;
    @media (min-width: $mdBreakpoint) {
      display: block;
    }
  }
 
  &__listFooter{
    display: block;
  }

}
