.container {
  text-align: center;
  background-image: url("../../../assets/img/Home/Bitmap.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 650px;
  background-size: 120%;
  position: relative;

  @media (min-width: $mdBreakpoint) {
    background-size: 120%;
    background-image: url("../../../assets/img/Home/BitmapTablet.jpg");
  }

  @media (min-width: $xlBreakpoint) {
    background-image: url("../../../assets/img/Home/BitmapDesk.jpg");
  }

  &__alltext {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @media (min-width: $xlBreakpoint) {
      display: flex;
      align-items: flex-start;
      padding-left: 50px;
      max-width: 1810px;
    }
  }

  &__title {
    color: $white;
    padding-top: 115px;
    padding-bottom: 24px;

    @media (min-width: $mdBreakpoint) {
      max-width: 573px;
    }

    @media (min-width: $xlBreakpoint) {
      padding-left: 75px;
      max-width: 650px;
      text-align: left;
    }
  }

  &__paragraph {
    color: $white;
    padding-bottom: 34px;
    max-width: 311px;
    text-align: center;

    @media (min-width: $mdBreakpoint) {
      max-width: 573px;
    }

    @media (min-width: $xlBreakpoint) {
      padding-left: 170px;
      max-width: 593px;
      text-align: left;
    }
  }

  &__btnLink {
    color: $white;
    background-color: $yellow;
    padding: 14px 39px;
  }

  &__textBnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__picture {
    width: 100%;
  }

  &__arrow {
    position: absolute;
    right: 220px;
    bottom: 30px;

    @media (min-width: $mdBreakpoint) {
      display: none;
    }
  }

  &__arrowTablet {
    display: none;
    @media (min-width: $mdBreakpoint) {
      display: block;
      position: absolute;
      top: 470px;
    }

    @media (min-width: $xlBreakpoint) {
      display: none;
    }
  }

  &__arrowDesk {
    display: none;
    @media (min-width: $mdBreakpoint) {
      display: none;
    }
    @media (min-width: $xlBreakpoint) {
      display: block;
      position: absolute;
      max-width: 447px;
      left: 650px;
      top: 290px;
    }
  }

  &__balls {
    display: none;
    @media (min-width: $mdBreakpoint) {
      display: block;
      position: absolute;
      left: 548px;
      top: 530px;
    }
    @media (min-width: $xlBreakpoint) {
      left: 1219px;
      top: 370px;
    }
  }

  &__line {
    display: none;
    @media (min-width: $mdBreakpoint) {
      display: none;
    }
    @media (min-width: $xlBreakpoint) {
      display: block;
      position: absolute;
      bottom: 331px;
    }
  }
}
