.header {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: $mdBreakpoint) {
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    padding-top: 34px;
  }

  @media (min-width: $xlBreakpoint) {
    display: flex;
    max-width: 1440px;
  }

  &__logo {
    width: 75.5px;
    
    @media (min-width: $mdBreakpoint) {
      width: 107px;
    }
   
  }

  &__list {
    display: flex;
    flex-direction: row;

    @media (min-width: $xlBreakpoint) {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__allcomponents {
    align-items: center;

    @media (min-width: $xlBreakpoint) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__containerMenu {
    display: flex;
    flex-direction: column;

    &--header {
      display: none;
      @media (min-width: $mdBreakpoint) {
        display: flex;
        flex-direction: row;
      }

      @media (min-width: $xlBreakpoint) {
        width: 100%;
      }
    }
  }

  &__hamburger {
    padding-right: 98.3px;
    cursor: pointer;

    @media (min-width: $mdBreakpoint) {
      display: none;
    }
  }
}
