.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    &--header {
      display: none;
      @media (min-width: $mdBreakpoint) {
        display: flex;
        flex-direction: row;
      }
    }

    @media (min-width: $mdBreakpoint) {
      display: flex;
      flex-direction: row;
      max-width: 1000px;
      margin: 0 auto;
      gap: 32px;
      align-items: baseline;
      margin-right: 14px;
    margin-left: 50px;

    }
  }

  &__element {
    color: $dimgrey;
    @include typography();
  }
}
