.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 104px;

  @media (min-width: $xlBreakpoint) {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  &--row {
    display: flex;
    flex-direction: column;
    @media (min-width: $xlBreakpoint) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__allcomponents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $xlBreakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__img {
    max-width: 290px;

    @media (min-width: $xlBreakpoint) {
      max-width: 732px;
    }
  }

  &__title {
    padding-top: 26px;
    color: $darknavy;
    max-width: 311px;

    @media (min-width: $mdBreakpoint) {
      max-width: 475px;
    }

    @media (min-width: $xlBreakpoint) {
      max-width: 445px;
      text-align: justify;
    }
  }

  &__paragraph {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 311px;
    color: $dimgrey;
    text-align: center;

    @media (min-width: $mdBreakpoint) {
      max-width: 573px;
    }

    @media (min-width: $xlBreakpoint) {
      text-align: justify;
      max-width: 445px;
    }
  }
}
