:root {
    --color--yellow: #fcb72b;
    --color--lightyellow: #fff4df;
    --color--darknavy: #495567;
    --color--dimgrey: #939caa;
    --color--lightgrey: #e5ecf4;
    --color--snow: #f2f5f9;
    --color--white: #fff;
}

.color {
    &--yellow {
        color: var(--color--yellow);
    }

    &--lightyellow {
        color: var(--color--lightyellow);
    }

    &--darknavy {
        color: var(--color--darknavy);
    }

    &--dimgrey {
        color: var(--color--dimgrey);
    }

    &--lightgrey {
        color: var(--color--lightgrey);
    }

    &--snow {
        color: var(--color--snow);
    }

    &--white {
        color: var(--color--white);
    }
}
